# Geode
build/
geode/
*.geode
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# IDE
.vscode/
.idea/
*.code-workspace
*.xcodeproj/
*.xcworkspace/

# OS
.DS_Store
Thumbs.db

# C++
*.o
*.obj
*.so
*.dylib
*.dll

# Logs
logs/

# Keep resources
!resources/
